<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Slightly Better Lottery Odds :: %{title}</title>
  <meta name="description" content="Slightly Better Lottery Odds">
  <meta name="author" content="luisc">

  <meta property="og:title" content="Slightly Better Lottery Odds %{title}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.what.com/">
  <meta property="og:description" content="Charts of %{title} Lottery Ball Winners">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <style type="text/css">
    hr {
      margin: 10px 0;
    }
    #menu {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
    }

    #menu a:link, a:visited {
      color: #666;
      text-decoration: none;
    }

    #menu a:active, a:hover {
      color: #ddd;
    }
  </style>
</head>

<body>

  <header id="menu">
    <a href="powerball.html">Powerball</a> |
    <a href="mega_millions.html">Mega Millions</a> |
    <a href="cash4life.html">Cash4Life</a> |
    <a href="ny_lotto.html">NY Lotto</a> |
    <a href="yotta.html">Yotta
  </header>

  <hr>

  <div>
    <canvas id="chart_white_balls"></canvas>
  </div>

  <hr>

  <div>
    <canvas id="chart_yellow_ball"></canvas>
  </div>

  <hr>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    function recolorChart(chart, mean, standard_deviation, colors) {
      var dataset = chart.data.datasets[0];
      for (var i = 0; i < dataset.data.length; i++) {
        if (dataset.data[i] < (mean - standard_deviation)) {
          console.log({d: dataset.data[i], mean: mean, standard_deviation: standard_deviation})
          dataset.backgroundColor[i] = colors.color3;
        } else {
          dataset.backgroundColor[i] = colors.color1;
        }
      }

      chart.update();
    }

    const chartColors = {
      color1: 'rgba(18, 78, 120, 0.5)',
      color2: 'rgba(242, 187, 5, 0.5)',
      color3: 'rgba(215, 78, 9, 0.5)',
      color4: 'rgba(18, 78, 120, 0.5)'
    };

    const labels_white_balls = %{labels_white_balls};
    const data_white_balls = %{data_white_balls};

    const labels_yellow_ball = %{labels_yellow_ball};
    const data_yellow_ball = %{data_yellow_ball};

    const white_balls_data = {
      labels: labels_white_balls,
      datasets: [{
        label: '%{title} White Balls from %{start_date}',
        data: data_white_balls,
        backgroundColor: [chartColors.color1],
        borderWidth: 1
      }]
    };

    const config_white_balls = {
      type: 'bar',
      data: white_balls_data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        plugins: {
          subtitle: {
            display: true,
            text: "Mean: %{white_ball_mean}, Standard Deviation: %{white_ball_standard_deviation}"
          }
        }
      },
    };

    const chart_white_balls = new Chart(
      document.getElementById('chart_white_balls'),
      config_white_balls
    );

    recolorChart(chart_white_balls, %{white_ball_mean}, %{white_ball_standard_deviation}, chartColors);

    const yellow_ball_data = {
      labels: labels_yellow_ball,
      datasets: [{
        label: '%{title} Yellow Ball from %{start_date}',
        data: data_yellow_ball,
        backgroundColor: [chartColors.color1],
        borderWidth: 1
      }]
    };

    const config_yellow_ball = {
      type: 'bar',
      data: yellow_ball_data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        plugins: {
          subtitle: {
            display: true,
            text: "Mean: %{yellow_ball_mean}, Standard Deviation: %{yellow_ball_standard_deviation}"
          }
        }
      },
    };

    const chart_yellow_ball = new Chart(
      document.getElementById('chart_yellow_ball'),
      config_yellow_ball
    );

    recolorChart(chart_yellow_ball, %{yellow_ball_mean}, %{yellow_ball_standard_deviation}, chartColors);
  </script>

</body>
</html>


